// Colours

$darkBlue:hsl(233, 26%, 24%);
$violet: hsl(257, 40%, 49%);
$softMagenta: hsl(300, 69%, 71%);
$brightcyan: hsl(192, 70%, 51%); 
$grayishBlue: hsl(150, 8%, 62%);
$lightGrayishBlue : hsl(220, 16%, 96%);
$veryLightGray: hsl(0, 0%, 98%);
$white: hsl(0, 0%, 100%);

// Font sizes

$font-small: 0.875rem; // 14px
$font-med: 1.125rem; // 18 px